
<form #submitform="ngForm" (ngsubmit)="submitform.form.valid && addform(submitform)">
<div class="row justify-content-center" >
  <div class="col-md-4">
    <div class="form-group">


  <label for="fullname">Full Name</label> 
  <div>

  </div>
  <input id="fullname" class="form-control" type="text" placeholder="Enter Fullname" [(ngModel)]="firstname" name="firstname" required #name="ngModel"> 
  <span>please enter your name</span>
  <br>

  <label for="email">Email</label>
  <input id="email" class="form-control" type="text" placeholder="Enter Email" [(ngModel)]="email" name="email"> 
  <br>

  <!-- <label for="phoneno">Phoone No.</label>
  <input id="phoneno" type="text" placeholder="Enter Phone Number" [(ngModel)]="phonenumber" name="phonenumber">  -->
  <br>

  <label for="password">Password</label>
  <input id="password" class="form-control" type="text" placeholder="Enter Password" [(ngModel)]="password" name="password"> 
  <br>

  <input  type="checkbox" [(ngModel)]="terms" name="terms">Accept terms and conditions
  <br>
  <button type="submit" class="form-control" class="btn btn-primary">Submit</button>


<div>{{firstname}}</div>
</div>
</div>
</div>
</form>

<router-outlet></router-outlet>
